<!doctype html>
<html>
<title>index</title>
    <body>
        <h2>請填寫下面的資料</h2>
        <a href = "know.html" >名詞解釋</a>
        <a href = "member.html" >會員中心</a>
        <a href = "compare.html" >保單比較</a>
        <a href = "policy.html" >保單一覽</a>

        <form action="policy.html" method="post">
            年齡：<input type="text" name="a"><br>
            性別：<input type="text" name="a"><br>
            職業：<input type="text" name="a"><br>
            <input type="submit" value="Submit">
        </form>

    </body>
</html>
